name: Newman run

on:
  push:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Newman and reporters
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Postman tests
        run: |
          mkdir -p newman
          newman run ServeRest.postman_collection.json \
            -e serveRest_env.postman_environment.json \
            -r cli,htmlextra \
            --reporter-htmlextra-export newman/report.html

      - name: Commit and push report to repository
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add newman/report.html
          git commit -m "Atualiza relatório Newman [skip ci]" || echo "Sem alterações para commitar"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
